.abrir-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.animacion {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* EditTrackPage */
.gradient-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background: linear-gradient(to right, #000000, #FFFFFF);
  }
  

  /* Establece un ancho máximo para el diálogo modal */
.custom-dialog {
    max-width: none;
  }
  
/* En tu archivo CSS o en línea en tu componente */
.volume-control {
    /* Cambia el color de fondo y el color de la barra según tus preferencias */
    background-color: #ff0000; /* Cambia a tu color deseado */
    color: #ffffff; /* Cambia a tu color deseado */
  }
  
  
/* CSS en tu archivo de estilos */
.selected {
    background-color: linear-gradient(to right, #fff, #e0e0e0);
    cursor: pointer;
  }
  
  .audio-row {
    display: none; /* Oculta la fila de audio por defecto */
  }
  
  @media (min-width: 600px) {
    /* Muestra la fila de audio en modo desktop */
    .selected + .audio-row {
      display: table-row;
    }
  }
  